@import "./materialize-custom.scss";

@mixin scrollbar( $tumb1, $tumb2, $trak, $width:5px ) {

    &::-webkit-scrollbar {
      width: $width ;
      max-height: 10px !important;
    }

  &::-webkit-scrollbar-track {
      background: $trak !important;
      border-radius: 4px !important;
    }

  &::-webkit-scrollbar-thumb {
      background:$tumb1 !important;
      border-radius: 4px !important;
    }

  &::-webkit-scrollbar-thumb:hover {
      background:$tumb2 !important;
      cursor: pointer !important;
    }

  }


* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box !important;
}

html{
    @include scrollbar($color1, $black2, $black2, 5px);
}

body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden !important;
}



.list-avatar{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.myHeader, .mySidebar, .myContent, .myFooter{
    box-sizing: border-box !important;
}


.myHeader {
    position: fixed;
    height: 65px !important;
    padding: 0px 20px;
    z-index: 2;
    margin: 0 !important;

    ul{
        padding: 0 !important;
         li{
            padding: 0px !important;
            a{
                padding: 0px !important;
                margin: 0;
            }
         }
    }
}


.myMain{

    margin-top: 60px !important;
    min-width:  100vw !important;
    padding: 0 !important;


    h1, h2, h3, h4, h5{
        color: #ccc;
    }

    .list-top{
        position: fixed;
        bottom: 30px;
        right: 0px;
        z-index: 10 !important;
        opacity: .3 !important;
        transition: all ease-in-out .6s;

        &:hover{
            transition: all ease-in-out .6s;
            opacity: 2 !important;
        }
    }

    .table-container{
        margin-top: 55px;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;

        .pagination{
            padding: 20px ;
            display: inline-flex;
            justify-content: flex-end;
        }
    }

    .table{

        @media screen and (max-width: 768px) {
            align-self: center;
        }

        tbody{
            @include scrollbar($color1, $black2, $black2, 5px);
            width: 250vh !important;
        }

        td{
            padding: 0 !important;
        }
       

        .chip {
            display: inline-flex;
            height:  45px !important;
            justify-content: center;
            align-items: center;
            margin: 0 !important;
            padding: 0 !important;
            text-align: center;
            cursor: pointer;
            transition: all ease-in-out .8s;

            img{
                width: 40px;
                height: 40px;
                margin: 0 !important;
                margin-left: 2px !important;
            }

            p{
                line-height: 12px !important;
                margin: 5px 10px;
                transition: all ease-in-out .8s;
            }

            &:hover{
                transition: all ease-in-out .8s;
                background-color: rgba($color1, .3);
            }

        }

        .actions {
            //display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;

            a{
                margin: 5px;
            }

            div{
                margin: 5px !important;
            }
        }
    }



    .progress-content{
    
        min-width: 100vw !important;
        height: 100vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding: 60px;
        box-sizing: border-box !important;
    }


    .input-field > .invalid{
        color: $color1 !important;
    }

}


.mySidebar{
    padding: 20px !important;
    background-color: #eee;
    min-height: 100vh !important;
    position: sticky !important;
    z-index: -1;
}

.myContent{
    padding: 0px  !important;
    background-color: white;
}


.myMenu{
    position: fixed;
    right: 0;
    width: 80px;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column !important;
    background-color: #ccc;
    padding-top: 20px;

    
    ul  {
        display: inherit !important;
        flex-direction: column;
        align-items: center !important;
        justify-content: center;


        li a {
            color: white;
        }

    }
}


.MyCentered{
    width:  100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 !important;

    & > *{
        margin: 10px;
    }

    & .circle{
        max-width: 200px;
    }

}


.fcol{
    flex-direction: column !important;
}

.frow{
    flex-direction: row !important;
}



.fcolr{
    flex-direction: column-reverse !important;
}

.frowr{
    flex-direction: row-reverse !important;
}


.div100p100 {
    width: 100vw !important;
    min-height: 100vh !important; 
}

.brand-logo{
    font-size: 1.5em !important;
}

.card-title{
    font-weight: bold;
    background-color: $color1;
    padding: 10px !important;
    bottom: 10px !important;
    left: 10px !important;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.card-title2{
    @media screen and (min-width: 769px) {
        display: none;
    }
}

.badge, .btn, .card-title{
    border-radius: 50px;
}