$lighter: #909090;
$color1: #ee6e73; //accent-2
$color2: #ee6e73; //accent-2
$color3 : #9C4AFF;
$color4: #8C43E6;
$color5: #7638C2;
$black2: rgba(#000,.3);
$primary: $color1;

//Colors Map

$myColors:
"color1" $color1,
"color2" $color2,
"color3" $color3,
"color4" $color4,
"color5" $color5; 